@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
.success {
    color: green;
  }
  
  .error {
    color: red;
  }
  form{
    /* display: flex;
    flex-direction: row; */
  }
  .card-container{
    display: flex;
    flex-direction: row;
  }
  .card{
    width: 33%;
    /* border: 2px solid red; */
  }
  input{
    width: 90%;
    color: white;
    height: 50%;
  }
  #add-button{
    border: none;
    background-color: white;
    text-decoration: none;
    padding : 0.7% 2%;
    cursor: pointer;
  }
  #employeeList{
    /* width: 45%; */
  }
  .button-div{
    /* border: 2px solid lightblue; */
    padding-top: 2.5%;
  }
  #employee-entry{
    margin: 0.5%;
    border: 2px solid grey;
    border-radius: 15px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 40%;
    /* align-items: flex-start; */
    gap: 5%;
  }
  .div-for-each-part{
    /* border: 3px solid orangered; */
    /* margin-left: 2%; */
  }
  #li-box{
    /* border: 2px solid red; */
    display: flex;
  }
  #li{
    border: 1px solid greenyellow;
  }
  #delete-button{
    align-self: center;
    border: none;
    margin-left: 1%;
    text-decoration: none;
    padding : 0.7% 2%;
    border-radius: 20px;
    cursor: pointer;
  }
  /* .instruction-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;
  }
  .input-div{
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 80%;
  } */
  h2{
    display: flex;
    flex-direction: row;
  }
  body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
  }
  .main-container{
    margin: 2%;
    /* outline: auto; */
  }
  #name{
    background-color: black;
    border: 2px solid grey;
    border-radius: 4px;
  }
  #age{
    background-color: black;
    border: 2px solid grey;
    border-radius: 4px;
  }
  #profession{
    background-color: black;
    border: 2px solid grey;
    border-radius: 4px;
  }
